/* STYLES FOR THE DEXED PEDAL */

/* CONTAINER
================================================ */
.dexed{{{cns}}}, .dexed{{{cns}}} .programmer {
    background: linear-gradient(135deg, #aaa, #666);
    background-position:center center;
    background-repeat:no-repeat;
    height:585px;
    position:absolute;
    width: 430px;
    border-radius: 18px;
    border: 5px solid white;
    box-sizing: content-box;
}

.dexed{{{cns}}} .algorithm.minimum,
.dexed{{{cns}}} .algorithm.maximum {
    display: none;
}

/* PORTS
================================================ */
.dexed{{{cns}}} .mod-pedal-input {
    margin-left: -5px;
}
.dexed{{{cns}}} .mod-pedal-output {
    margin-right: -5px;
}
.dexed{{{cns}}}.programmer .mod-pedal-output {
    margin-right: -448px;
}

/* PLUGIN NAME
================================================ */
.dexed{{{cns}}} .mod-plugin-name {
    top: 13px;
    overflow:hidden;
    position:absolute;
    left:117px;
    text-align:right;
    cursor: pointer;
    z-index: 21;
}

.dexed{{{cns}}} .mod-plugin-name h1 {
    color: black;
    font-size: 30px;
    font-style: italic;
    line-height: 1;
    text-transform: uppercase;
}

.dexed{{{cns}}} .mod-plugin-name h1, .dexed{{{cns}}} .op-title.output {
    transition: color 0.2s step-end,
		text-shadow 1s ease;
}
.dexed{{{cns}}}.on .mod-plugin-name h1, .dexed{{{cns}}}.on .op-title.output {
    color: #f5f5f5; /* #002aff; */
    text-shadow: 0 0 1px #0057ff, 0 0 10px #489dce;
}

/* ON/OFF SWITCH
================================================ */
.dexed{{{cns}}} .mod-switch {
    background-image: url(/resources/pedals/switch-001.png{{{ns}}});
    background-repeat: no-repeat;
    background-size: auto 71px;
    top: 4px;
    cursor:pointer;
    height: 71px;
    left: 16px;
    position: absolute;
    transform: rotate(-90deg);
    width: 71px;
    z-index: 40;
}

.dexed{{{cns}}} .mod-switch.off {
    background-position: -80px 0px;
}

.dexed{{{cns}}} .mod-switch.on {
    background-position: -9px 0px;
}

/* KNOBS
================================================ */
.dexed{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/boxy/black.png{{{ns}}});
}

.dexed{{{cns}}} .mod-control-group {
    left:19px;
    position:absolute;
    right: 19px;
    top: 170px;
}
.dexed{{{cns}}} .mod-control-group .mod-knob {
    height:80px;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    width: 65px;
}
.dexed{{{cns}}} .mod-control-group .mod-knob .mod-knob-title {
    color: black;
    display:block;
    font-size:11px;
    font-weight:bold;
    line-height:1;
    margin:7px 0;
    padding:0;
    position:relative;
    overflow:hidden;
    text-transform:uppercase;
}
.dexed{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-position:left center;
    background-repeat:no-repeat;
    background-size:auto 46px;
    height:46px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    width:46px;
}

/* PRESETS
================================================ */
.dexed{{{cns}}} .mod-control-group.mod-presets {
    top: 80px;
    left: 25px;
    width: 184px !important;
    right: initial;
}

.dexed{{{cns}}} .mod-control-group.mod-presets select {
    width: 100%;
    margin-bottom: 7px;
}

.dexed{{{cns}}} .mod-control-group.mod-presets input {
    color: black;
    float: left;
    height: 20px;
    width: 8em;
    z-index: -1;
}
.dexed{{{cns}}} .mod-control-group.mod-presets input:last-child {
    margin-left: 2px;
    text-align: right;
    width: 5em;
}

.dexed{{{cns}}}.off .mod-control-group.mod-presets select,
.dexed{{{cns}}}.off .mod-control-group.mod-presets input {
    color: #fff;
}

/* SLIDER
================================================ */
.dexed{{{cns}}} .mod-slider {
    color:black;
    float:left;
    font-size:10px;
    overflow:hidden;
    position:relative;
    text-align:center;
    text-transform: uppercase;
}

.dexed{{{cns}}} .mod-slider .mod-slider-title {
    display:block;
    font-weight:bold;
    line-height:1;
    margin-bottom:3px;
    overflow:hidden;
    padding:7px 0 5px;
    position:relative;
}

.dexed{{{cns}}} .mod-slider .mod-slider-image {
    background-image:url(/resources/pedals/slider.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 150px;
    height:150px;
    margin:0 auto;
    width:60px;
}

.dexed{{{cns}}} .mod-slider .mod-slider-image:hover {
    cursor:pointer;
}

.dexed{{{cns}}} .mod-slider {
    width:65px;
}

/* SECTION LABELS
================================================ */
.dexed{{{cns}}} .ratios {
    border-top: 2px solid #333;
    top: 250px;
}

.dexed{{{cns}}} .ratios .mod-knob {
    height: 50px;
}

.dexed{{{cns}}} .ratios .mod-knob .mod-knob-title,
.dexed{{{cns}}} .ratios .mod-slider .mod-slider-title {
    display:none;
}

.dexed{{{cns}}} .op-title,
.dexed{{{cns}}} .section-title {
    color: black;
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
}

.dexed{{{cns}}} .op-title {
    cursor: pointer;
    float: left;
    line-height: 3.2;
    width: 65px;
}

.dexed{{{cns}}} .op-title.off {
    opacity: 0.5;
}

.dexed{{{cns}}} .section-title {
    padding-bottom: 10px;
}

/* OPERATORS
================================================ */
.dexed{{{cns}}} .operators {
    width: 10rem;
    left: 287px;
    top: 32px;
    border: 2px solid #333;
    background: linear-gradient(-45deg, #444, #555);
    padding: 5px 5px 10px;
    box-sizing: content-box;
    z-index: -1;
}

.dexed{{{cns}}} .operators span {
    background: #66ff66;
    display: inline-block;
    font-size: 0.875rem;
    margin: 0.2rem 0.3rem;
    position: relative;
    text-align: center;
    transition: visibility 0.5s step-end;
    width: 1rem;
}
.dexed{{{cns}}}.off .operators span {
    visibility: hidden;
}

.dexed{{{cns}}} .operators span:before,
.dexed{{{cns}}} .operators span:after {
    border-color: #bbb !important;
}

.dexed{{{cns}}} .operators span.fb:after {
    content: " ";
    position: absolute;
    border: 3px solid;
    width: 1rem;
    height: 2rem;
    z-index: -1;
    top: -0.4rem;
    left: 0.4rem;
}

/* down */
.dexed{{{cns}}} .operators span.link-0:before {
    content: " ";
    position: absolute;
    border-left: 3px solid;
    width: 1rem;
    height: 2rem;
    z-index: -1;
    top: 0rem;
    left: 0.4rem;
}
/* output down and right */
.dexed{{{cns}}} .operators span.link-1:before {
    content: " ";
    position: absolute;
    border-left: 3px solid;
    border-bottom: 3px solid;
    width: 1.8rem;
    height: 1.8rem;
    z-index: -1;
    top: 0rem;
    left: 0.4rem;
}
/* output down */
.dexed{{{cns}}} .operators span.link-2:before {
    content: " ";
    position: absolute;
    border-left: 3px solid;
    width: 1rem;
    height: 1.8rem;
    z-index: -1;
    top: 0rem;
    left: 0.4rem;
}
/* output down and 2x right */
.dexed{{{cns}}} .operators span.link-6:before {
    content: " ";
    position: absolute;
    border-left: 3px solid;
    border-bottom: 3px solid;
    width: 3.2rem;
    height: 1.8rem;
    z-index: -1;
    top: 0rem;
    left: 0.4rem;
}
/* output down and left */
.dexed{{{cns}}} .operators span.link-7:before {
    content: " ";
    position: absolute;
    border-right: 3px solid;
    border-bottom: 3px solid;
    width: 1.8rem;
    height: 1.8rem;
    z-index: -1;
    top: 0rem;
    left: -1.2rem;
}

/* TODO: use box-shadow?! */
/* down and right */
.dexed{{{cns}}} .operators span.link-3:before {
    content: " ";
    position: absolute;
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 3px solid;
    width: 1.8rem;
    height: 0.5rem;
    z-index: -1;
    top: 1.5rem;
    left: 0.4rem;
}
/* down and left and right */
.dexed{{{cns}}} .operators span.link-4:before {
    content: " ";
    position: absolute;
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 3px solid;
    width: 3.4rem;
    height: 0.5rem;
    z-index: -1;
    top: 1.5rem;
    left: -1.2rem;
}

/*
switch(link) {
        case 0 : // LINE DOWN
            g.drawLine(x+8, y+12, x+8, y+21, LINE_SZ);
            break;
        case 1: // ARROW TO RIGHT
            g.drawLine(x+8, y+12, x+8,  y+18, LINE_SZ);
            g.drawLine(x+7, y+18, x+34, y+18, LINE_SZ);
            break;
        case 2: // ARROW TO RIGHT JOIN
            g.drawLine(x+8,  y+12, x+8, y+19, LINE_SZ);
            break;
        case 3: // ARROW TO RIGHT AND DOWN
            g.drawLine(x+8, y+12, x+8, y+21, LINE_SZ);
            g.drawLine(x+7, y+18, x+34, y+18, LINE_SZ);
            g.drawLine(x+34, y+17, x+34, y+21, LINE_SZ);
            break;
        case 4: // ARROW TO RIGHT+LEFT AND DOWN
            g.drawLine(x+8, y+12, x+8, y+21, LINE_SZ);
            g.drawLine(x+7, y+18, x+34, y+18, LINE_SZ);
            g.drawLine(x+34, y+17, x+34, y+21, LINE_SZ);
            g.drawLine(x-17, y+18, x+8, y+18, LINE_SZ);
            g.drawLine(x-17, y+17, x-17, y+21, LINE_SZ);
            break;
        case 6:
            g.drawLine(x+8, y+12, x+8,  y+18, LINE_SZ);
            g.drawLine(x+7, y+18, x+58, y+18, LINE_SZ);
            break;
        case 7: // ARROW TO LEFT
            g.drawLine(x+8,  y+12, x+8, y+19, LINE_SZ);
            g.drawLine(x-17, y+18, x+9, y+18, LINE_SZ);
            break;
    }
*/

.dexed{{{cns}}} .programmer {
    box-sizing: border-box;
    padding: 32px;
    width: 439px;
    height: 596px;
    position: absolute;
    top: -5px;
    left: 438px;
    background: linear-gradient(135deg, #777, #333);
    display: none;
}

.dexed{{{cns}}}.programmer .programmer {
     display: block;
}

.dexed{{{cns}}} .programmer table {
    table-layout: fixed;
    width: 100%;
}

.dexed{{{cns}}} .programmer table th {
    text-align: center;
}

.dexed{{{cns}}} .programmer td:nth-child(2n), .dexed{{{cns}}} .programmer th:nth-child(2n) {
    padding-left: 5px;
}

.dexed{{{cns}}} .programmer td:nth-child(2n+1), .dexed{{{cns}}} .programmer th:nth-child(2n+1) {
    padding-right: 5px;
}

/* .dexed{{{cns}}} .programmer tbody { */
/*     border: 1px solid lightgreen; */
/* } */

.dexed{{{cns}}} .programmer input {
    background: transparent;
    border: none;
    color: lightgreen;
    text-align: center;
    width: 100%;
    /* margin: 2px; */
}

.dexed{{{cns}}} .programmer input:focus {
    background: yellow;
    color: black;
}

.dexed{{{cns}}} .programmer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
